<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
<listeners>
        <listener class-name="com.fremwworkdev.utilities.ListenerClass1" />
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.fremwworkdev.Testcase.Login"/>
      <class name="com.fremwworkdev.Testcase.Add_customer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
